


/* Table of Content
==================================================



================================================== */
body {
	background-color: #eee;
	color: #949292;
}

.middle-box {
	text-align: center;
	position: fixed;	
	top: 50%;
  	left: 50%;
  	margin-top: -260px;
  	margin-left: -140px;
  	/*border: 5px solid #c0c0c0;*/
  	height: 300px;
  	width: 300px;
  	border-radius: 20px;
}

#maintag {
	text-align: center;
	position: fixed;
  	top: 50%;
  	left: 50%;
  	margin-top: -90px;
  	margin-left: -120px;
	font-family: Garamond, Georgia, serif;
	text-decoration: none;
}

#line1 {
	padding: 45px 0 20px 0;
	font-family: Garamond, Georgia, serif;
	font-size: 36px;
	/*font-weight: bold;*/
}

#line2 {
	/*margin-top: ;*/
	font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-size: 24px;
}

a {
	color: #949292;
	text-decoration: none;
}

a:hover {
	color: #FFF;
}